.body {
    width: 100vw;
    height: 100vh;
}

nav {
    /* Menu Bar */
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

nav > span {
    /*Menu Bar Items*/
    border: 1px solid black;
    border-radius: 10px;
}